ul.works-list
  h2.visually-hidden List of my works
  mixin item(name, date, link, imgName)
    li.works-list__item
      .works-list__item-info
        h3.works-list__item-title= name
        - let fullDate = new Date(date)
        - let month = fullDate.toLocaleString('en-us', { month: 'long' })
        - let year = fullDate.toLocaleString('en-us', { year: 'numeric' })
        time.works-list__item-date(datetime=date) Сreation date: #{month + ' ' + year}
        a.works-list__item-link.button(href=link) Open live
      picture.works-list__item-picture
        - let imgPath = './images/previews/' + imgName
        - let imgLink = imgPath + '.jpg'
        - let imgLinkRetina = imgPath + '@2x.jpg 2x'
        - let imgLinkAvif = imgPath + '.jpg?as=avif, ' + imgPath + '@2x.jpg?as=avif 2x'
        - let imgLinkWebp = imgPath + '.jpg?as=webp, ' + imgPath + '@2x.jpg?as=webp 2x'
        source(type='image/avif', srcset=imgLinkAvif)
        source(type='image/webp', srcset=imgLinkWebp)
        img.works-list__item-image(src=imgLink, srcset=imgLinkRetina, alt=name, width='240', height='160')

  +item('Krusar - social media marketing agency', '2018-05', './projects/krusar-land/index.pug', 'krusar-land')
  +item('Mega-M Trans - multimodal logistic company', '2018-07', './projects/mega-m-trans/index.pug', 'mega-m-trans')
  +item('Hashmount - crypto investment company', '2018-09', './projects/hashmount/index.pug', 'hashmount')
  +item('Cosmodrome Games - publisher\'s board games tournament', '2019-03', './projects/cg-tournament/index.pug', 'cg-tournament')
  +item('Smartphone Inc. - promo of new strategy board game', '2019-05', './projects/smartphone-inc/index.pug', 'smartphone-inc')
  +item('500 Evil Cards - promo of new adult-themed board game', '2019-07', './projects/evil-cards/index.pug', 'evil-cards')
  +item('Soma For You - handmade linen clothing atelier', '2019-08', './projects/soma-land/index.pug', 'soma-land')
  +item('Truth Detector - promo of another new adult-themed board game', '2019-09', './projects/truth-detector/index.pug', 'truth-detector')
  +item('Cosmodrome Games B2B - custom branding and development of board games', '2019-10', './projects/cg-branding/index.pug', 'cg-branding')
  +item('Skin IQ - landing of skincare app for pitching startup to investors', '2019-12', './projects/skin-iq/index.pug', 'skin-iq')
  +item('KAMS Truck - trucking company with own autopark', '2020-02', './projects/kams-truck/index.pug', 'kams-truck')
  +item('ACT Chemtech - industrial chemicals factory', '2020-04', './projects/act-chemtech/index.pug', 'act-chemtech')
  +item('Petrodom - trucking company and truck repair services', '2020-06', './projects/petrodom/index.pug', 'petrodom')
  +item('Cosmodrome Games events on GenCon 2020', '2020-07', './projects/cg-gencon/index.pug', 'cg-gencon')
  +item('Imaginarium - popular associative board game and its addons', '2020-09', './projects/cg-imaginarium/index.pug', 'cg-imaginarium')
  +item('Krusar - digital marketing agency, site rebuild to company portfolio', '2020-11', './projects/krusar-corp/index.pug', 'krusar-corp')
  +item('Mega Logistic - school of logistics business and service for hiring', '2021-02', './projects/mega-logistic/index.pug', 'mega-logistic')
  +item('Lock-Unlock - SEO-focused site for locksmith service company', '2021-05', './projects/lock-unlock/index.pug', 'lock-unlock')
  +item('Ecosphere - high-hazard waste disposal plant', '2021-08', './projects/ecosphere/index.pug', 'ecosphere')
  +item('Choosing Myself - psychological course to relieve anxiety', '2021-10', './projects/choosing-myself/index.pug', 'choosing-myself')
  +item('Alumica - factory of cleanrooms and its components', '2022-01', './projects/alumica/index.pug', 'alumica')
  +item('Snosim64 - local buildings demolition company', '2022-04', './projects/snosim64/index.pug', 'snosim64')
