.services.container
  h2.visually-hidden Услуги нашего агенстства
  p.services__title.section-title(data-subtitle='services') Что вы можете получить
  ul.services__list
    mixin item(name, imgPath, text, subservices)
      li.sevices__item
        .services__info
          h3.services__service-name= name
          p.services__description= text
          ul.servises__subservice-list
            each subservice in subservices
              li.servises__subservice-item= subservice
        picture.services__picture
          source(srcset!=`${imgPath}?as=avif&width=540, ${imgPath}?as=avif 2x`, media='(min-width: 1280px)', type='image/avif')
          source(srcset!=`${imgPath}?as=webp&width=540, ${imgPath}?as=webp 2x`, media='(min-width: 1280px)', type='image/webp')
          source(srcset=`${imgPath}?width=540, ${imgPath} 2x`, media='(min-width: 1280px)')
          source(srcset!=`${imgPath}?as=avif&width=310, ${imgPath}?as=avif 2x`, media='(min-width: 768px)', type='image/avif')
          source(srcset!=`${imgPath}?as=webp&width=310, ${imgPath}?as=webp 2x`, media='(min-width: 768px)', type='image/webp')
          source(srcset=`${imgPath}?width=310, ${imgPath} 2x`, media='(min-width: 768px)')
          source(srcset!=`${imgPath}?as=avif&width=240, ${imgPath}?as=avif&width=480 2x`, type='image/avif')
          source(srcset!=`${imgPath}?as=webp&width=240, ${imgPath}?as=webp&width=480 2x`, type='image/webp')
          img.services__image(src=`${imgPath}?width=240`, srcset=`${imgPath}?width=480 2x`, alt=name, width='240', height='216')

    each obj in services
      +item(obj.name, obj.imgPath, obj.text, obj.subservices)
